/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-image: url("https://images.urbndata.com/is/image/Anthropologie/66958752_066_b?$a15-pdp-detail-shot$&fit=constrain&fmt=webp&qlt=80&wid=1314");
  background-color: #50808E;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: 'Courier New', Courier, monospace; display: flex; font-weight: lighter;
  color: #000000;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 3px;
  word-spacing: 3px;
  font-size: 400%;
  font-style: italic;
}
p1 {
  font-style: italic;
  font-size: larger;
}
/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 30px;
  padding: 10%;
  border: solid 10px #000000;
  border-style: double;
  background-color: #fcc5c59e; fill-opacity: 60%;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 16px;
  margin-bottom: 0px;
  border: solid 0px #888;
  background-color: #ffe9f7; border: #000000; border-style: dotted; border-width: 6px;
}
